@import url(https://fonts.googleapis.com/css?family=Lato:300,800);



*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: rgb(32, 31, 31);
}

nav {
  background-color: #4caf50;
  color: #fff;
  height: 30px;
  text-align: center;
  border-radius: 8px 8px 0 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffd700;
}

.chat-container {
  display: flex;
  height: calc(100vh - 70px);
  margin-top: 10px;
}

.profile-list {
  width: 30%;
  background-color: #c9c5c5;
  padding: 20px;
  border-right: 1px solid #8f8585;
  box-shadow: 0 2px 5px rgba(58, 54, 54, 0.1);
}

.profile-list h2 {
  font-size: 24px;
  margin: 0 0 20px;
}

.profile-list ul {
  list-style: none;
  padding: 0;
}

.profile-list ul li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #b8bbc1;
  display: flex;
  align-items: center;
}

.profile-list ul li:last-child {
  border-bottom: none;
}

.profile-list ul li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-box {
  flex: 1;
  background-color: #f3eded;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.chat-box h2 {
  font-size: 24px;
  margin: 0 0 20px;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
}

.message {
  max-width: 70%;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  word-wrap: break-word;
}

.message.sent {
  background: linear-gradient(to right, #abcdef, #638ca5);
  color: white;
  align-self: flex-end;
}

.message.received {
  background-color: #f0f0f0;
  color: #333;
  align-self: flex-start;
}

.message input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  margin-top: 20px;
}

.message button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 10px;
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }
  

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}







